@import "modal.css";

/*Used so that svg's inside a button will not capture an event listener*/
button > * {
  pointer-events: none;
}

.main__container {
  display: flex;
  margin: 2em 10%;
}

.project__container {
  flex-grow: 1;
  padding: 0 2em;
}

.add__project {
  display: none;
}

.todos__container {
  flex-grow: 2;
  padding: 0 2em;
}

.task__form {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
}

.rename__button-ok {
  display: none;
}

.rename__button-cancel {
  display: none;
}
