@import "modal.css";

/*Used so that svg's inside a button will not capture an event listener*/
button > * {
  pointer-events: none;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #474747;
}

button {
  background: transparent;
  cursor: pointer;
}

.page-title {
  font-family: "Voltaire", sans-serif;
  letter-spacing: 3px;
  text-align: center;
  margin: 2em;
  font-size: 2em;
  color: #5E4B56;
}

.section__title {
  font-family: "Voltaire", sans-serif;
  letter-spacing: 3px;
  text-align: center;
  color: #5E4B56;
}

.main__container {
  display: flex;
  margin: 2em 10%;
}

.project__container {
  flex-grow: 1;
  border-right: 2px solid #5E4B56;
  padding: 0 2em;
}

.project__wrapper {
  margin: 0.5em;
}

.add__project {
  display: none;
}

.tasks__container {
  flex-grow: 2;
  padding: 0 2em;
}

.task__form {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
}

.rename__button-ok {
  display: none;
}

.rename__button-cancel {
  display: none;
}

.reveal__project-input {
  margin: 1em;
}

.task__item {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.task__checkbox, .task__title, .task__date {
  margin: 1em 0;
  padding: 0 1em;
}

.task__checkbox {
  position: relative;
  top: 3px;
}

.task__title {
  margin: 1em 1em;
}

.task__description, .task__notes {
  flex-basis: 100%;
}

.task__hidden {
  display: none;
}
